
<%- include('partials/header.ejs'); -%>
<!-- including header.ejs template in our home.ejs -->

<h1>About</h1>
<!-- ejs marker. so we could provide value when going to about.ejs -->
<p><%=AboutStartContent%></p>
<!--name of var that we are going to pass is AboutStartContent-->

<%- include('partials/footer.ejs'); -%>
