<%- include('partials/header')-%>
<!--including header and footer templates -->
<!--markers postTitle and postBody to pass here some values -->
<h1><%=postTitle%></h1>
<p><%=postBody%></p>
<%- include('partials/footer')-%>
